/*center metric label*/
div[data-testid="stVerticalBlock"] {
    gap: 0px;
}


p {
    font-size: 14px;
    line-height: 16px;
    font-family: "Courier New", Courier, monospace;
}

@media all and (max-height: 1000px) {
    p {
        font-size: 12px;
        line-height: 12px;
    }

}

@media all and (max-height: 800px) {
    p {
        font-size: 10px;
        line-height: 10px;
    }
}

.appview-container .main .block-container {
    padding-top: 2.875rem;
    padding-bottom: 0px
}

.gamegrid {
    display: grid;
    grid-template-columns: repeat(10, 16px);
    grid-template-rows: repeat(10, 16px);
    grid-gap: 0px;
}


img {
    object-fit: cover;
    width: 100%;
}